.view-wrap {
    @include position(absolute, 0, 0, 0, 0);
    @include size(100%);
    overflow: hidden;
}

.login {
    background-image: url('../images/login-bg.png');
    background-color: $background;
    background-size: cover;
    background-position: 50%;
    position: relative;
    padding-top: 180px;

    .form-wrap {
        padding: 32px;
        background: $white;
        margin: 0 32px;
        border-radius: 32px;

        .button-wrap {
            margin-top: 32px;
        }
    }
}
